
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>My Team</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <ul>
            <li>Niloo</li>
            <li>Matt</li>
            <li>Emad</li>
            <li>Toshee</li>
            <li>Komal</li>
            <li>Jalpa</li>
            <li>Eric</li>
            <li>Nikhi</li>
            <li>Meera</li>
        </ul>
    </div>
</div>
